//
// Classes
// oop
//

// Display

.d-b {
    display: block;
}

.d-ib {
    display: inline-block;
}

.d-f {
    display: flex;
}

.d-if {
    display: inline-flex;
}

// Padding

.p-zero {
    padding: 0;
}

// Flex

.f-align-items-center {
    align-items: center;
}

.f-justify-content-center {
    justify-content: center;
}

// Flex Center Horizontally + Vertically

.f-c-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fi-c-xy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

// Width 100%

.w-full {
    width: 100% !important;
}

// Width w-{5-100}

@for $i from 1 through 600 {
    @if $i % 5 == 0 {
        .w-#{$i} {
            width: #{$i}px !important;
        }
    }
}

// Height 100%

.h-full {
    height: 100% !important;
}

// Height w-{5-100}

@for $i from 1 through 100 {
    @if $i % 5 == 0 {
        .h-#{$i} {
            height: #{$i}px !important;
        }
    }
}

// Margin Auto

.m-auto {
    margin-right: auto;
    margin-left: auto;
}

// Margin Bottom mb-{5-50}

@for $i from 1 through 50 {
    @if $i % 5 == 0 {
        .mb-#{$i} {
            margin-bottom: #{$i}px !important;
        }
    }
}

// Postion

.p-r {
    position: relative;
}

// Text Align

.text-align-l {
    text-align: left;
}

.text-align-c {
    text-align: center;
}

// Transition

.notransition {
    &,
    * {
        transition: none !important;
    }
}
